<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1>Sonic: O Filme</h1>
        <h2>12 de fevereiro de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg" />
        <p>Depois de descobrir um ouriço pequeno, azul e rápido, um policial de uma pequena cidade deve ajudá-lo a
          derrotar um gênio do mal que deseja fazer experiências com ele.</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>Psicose</h1>
        <h2>22 de junho de 1960</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/vNayuJV4gqtjhWeIeFYIO834rOd.jpg" />
        <p>Marion Crane é uma secretária (Janet Leigh) que rouba 40 mil dólares da imobiliária onde trabalha para se
          casar e começar uma nova vida. Durante a fuga à carro, ela enfrenta uma forte tempestade, erra o caminho e
          chega em um velho hotel. O estabelecimento é administrado por um sujeito atencioso chamado Norman Bates
          (Anthony Perkins), que nutre um forte respeito e temor por sua mãe. Marion decide passar a noite no local, sem
          saber o perigo que a cerca.</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="6">
        <h1>Vida Bandida</h1>
        <h2>12 de outubro de 2001</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/67AUAkiT4rbgqN7SNlIJn0zWZqU.jpg" />
        <p>Quando o irresistível Joe (Bruce Willis) e o hipocondríaco Terry (Billy Bob Thornton) fogem da prisão, eles
          decidem aplicar uma série de roubos a banco de Oregon até a Califórnia, a fim de bancar suas novas vidas. Mas
          para realizar os roubos eles agem de forma inusitada: vão até a casa do gerente no dia anterior ao assalto e
          lá passam a noite, para depois poderem realizar o roubo. Logo eles se tornam os assaltantes a banco de maior
          sucesso na história dos Estados Unidos, sendo perseguidos pela mídia e pela polícia e adorados pelo grande
          público. Até que em meio a um assalto eles encontram Kate (Cate Blanchett), que vê na possibilidade de seguir
          junto com Terry e Joe a chance de escapar de sua vida tediosa. Os dois amigos logo se apaixonam por Kate, que
          considera o homem ideal uma perfeita combinação dos dois. Mas a situação se complica quando a polícia acredita
          que Kate é na verdade uma refém de Terry e Joe e resolve realizar uma gigantesca caçada humana a fim de
          capturá-los.</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>Sem Dor, Sem Ganho</h1>
        <h2>18 de abril de 2013</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/2xD9MZQbIhqkcRxlB4StEkdOtLS.jpg" />
        <p>Flórida (USA). Daniel Lugo (Mark Wahlberg) é um fisiculturista que sonha com o chamado "sonho americano", no
          qual tem dinheiro à vontade para levar a vida como quiser. Para alcançar este objetivo ele conta com a ajuda
          de um colega, Adrian Doorbal (Anthony Mackie), e do ex-presidiário Paul Doyle (Dwayne Johnson). Juntos eles
          planejam o sequestro e a extorsão de um conhecido criminoso local, Victor Kershaw (Tony Shalhoub). Só que, ao
          realizarem o golpe, eles não contavam com as inevitáveis consequências que ele traria. Baseado em fatos reais.
        </p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>